<!--This is the form for tour creation that will be added to adminModalContent in admin_tours.html-->
  <div class="modal-header border-bottom border-3 border-primary">
    <h1 class="modal-title ms-auto fs-4 fw-light" id="adminModalLabel">Add a tour</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <form id="addTourForm" class="p-3" hx-post="{{ url_for('tours_add_process') }}" hx-target="#addTourResultText" enctype="multipart/form-data">

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Title</label>
      <input name="title" class="form-control" type="text" placeholder="title" required>
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Image</label>
      <input name="image" class="form-control" type="file" required>
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Description</label>
      <input name="description" class="form-control" type="text" placeholder="description" required>
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Minimal price</label>
      <input name="minPrice" class="form-control" type="number" placeholder="$" required>
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Maximal price</label>
      <input name="maxPrice" class="form-control" type="number" placeholder="$" required>
    </div>

    <br />

    <div id="addTourResultText">

    </div>

  </form>

  <div class="modal-footer border-top border-3 border-primary">
    <button class="btn btn-primary" type="submit" form="addTourForm">Confirm</button>
  </div>