{% extends "base.html" %}


{% block title %}Admin panel{% endblock %}


{% block content %}

  <br /> <br />

  <div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminModal" hx-get="{{ url_for('tours_add_retrieve') }}" hx-target="#adminModalContent">Add</button> <br /> <br />

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminModal" hx-get="{{ url_for('tours_edit_retrieve') }}" hx-target="#adminModalContent">Edit</button> <br /> <br />

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminModal" hx-get="{{ url_for('tours_delete_retrieve') }}" hx-target="#adminModalContent">Delete</button>
  </div>

  <div class="modal fade" id="adminModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content" id="adminModalContent">

      </div>
    </div>
  </div>

{% endblock %}