<!--This is the form for tour creation that will be added to adminModalContent in admin_tours.html-->
  <div class="modal-header border-bottom border-3 border-primary">
    <h1 class="modal-title ms-auto fs-4 fw-light" id="adminModalLabel">Editing tour [{{ tour_id }}]</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <form id="editTourForm" class="p-3" hx-post="{{ url_for('tours_edit_form_process', tour_id=tour_id) }}" hx-target="#editTourResultText" enctype="multipart/form-data">

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Title</label> <br />
      <input name="title" class="form-control" type="text" placeholder="title" required> <br />
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Image</label> <br />
      <input name="image" class="form-control" type="file" required> <br />
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Description</label> <br />
      <input name="description" class="form-control" type="text" placeholder="description" required> <br />
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Minimal price</label> <br />
      <input name="minPrice" class="form-control" type="number" placeholder="$" required> <br />
    </div>

    <div class="input-group w-75 mx-auto mt-4">
      <label class="input-group-text">Maximal price</label> <br />
      <input name="maxPrice" class="form-control" type="number" placeholder="$" required> <br />
    </div>

    <br />

    <div id="editTourResultText">

    </div>

  </form>

  <div class="modal-footer border-top border-3 border-primary">
    <button class="btn btn-primary" type="submit" form="editTourForm">Confirm</button>
  </div>