<!--Modal content that includes the login form-->
  <div class="modal-header border-bottom border-3 border-primary">
    <h1 class="modal-title ms-auto fs-4 fw-light" id="loginModalLabel">Login</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

    <form id="loginForm" class="p-2" hx-post="{{ url_for('login_process') }}" hx-target="#resultText">

      <div class="input-group w-50 mx-auto mt-4">
        <label class="input-group-text">Username</label> <br />
        <input name="username" class="form-control" type="text" placeholder="username" required> <br />
      </div>

      <div class="input-group w-50 mx-auto mt-4">
        <label class="input-group-text">Password</label> <br />
        <input name="password" class="form-control" type="password" placeholder="password" required> <br />
      </div>

    </form>

    <div id="resultText">

    </div>

  <div class="modal-footer border-top border-3 border-primary">
    <button class="btn btn-secondary" hx-get="{{ url_for('register_retrieve') }}" hx-target="#accountModalContent">Register</button>
    <button class="btn btn-primary" type="submit" form="loginForm">Confirm</button>
  </div>