<!--Modal content that includes the login form-->
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

    <form id="loginForm" class="p-2" hx-post="{{ url_for('login_process') }}" hx-target="#resultText">

      <label>Username</label> <br />
      <input name="username" type="text" placeholder="username" required> <br />

      <label>Password</label> <br />
      <input name="password" type="password" placeholder="password" required> <br />

    </form>

    <div id="resultText">

    </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" hx-get="{{ url_for('register_retrieve') }}" hx-target="#accountModalContent">Register</button>
    <button class="btn btn-primary" type="submit" form="loginForm">Confirm</button>
  </div>