  <!--This is the form for registration that will be added to accountModalContent in base.html-->
  <div class="modal-header border-bottom border-3 border-primary">
    <h1 class="modal-title ms-auto fs-4 fw-light" id="accountModalLabel">Register</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body">
    <form id="registerForm" hx-post="{{ url_for('register_process') }}" hx-target="#resultText">

      <div class="input-group w-50 mx-auto mt-4">
        <label class="input-group-text">Username</label>
        <input name="username" class="form-control" type="text" placeholder="username" required> <br />
      </div>

      <div class="input-group w-50 mx-auto mt-4">
        <label class="input-group-text">Email</label>
        <input name="email" class="form-control" type="email" placeholder="example@address.com" required> <br />
      </div>

      <div class="input-group w-50 mx-auto mt-4">
        <label class="input-group-text">Password</label>
        <input name="password" class="form-control" type="password" placeholder="password" required> <br />
      </div>

    </form>

    <div id="resultText">

    </div>
  </div>

  <div class="modal-footer border-top border-3 border-primary">
    <button class="btn btn-secondary" hx-get="{{ url_for('login_retrieve') }}" hx-target="#accountModalContent">Login</button>
    <button class="btn btn-primary" type="submit" form="registerForm">Confirm</button>
  </div>