{% extends "base.html" %}

{% block title %}Tours{% endblock %}

{% block content %}

  {% for tour in tours %}
    <div class="card m-4 w-25">
      <img class="border rounded" src="{{ tour.image_path }}" height="200">
      <div class="card-body">
        <h5 class="card-title fs-3 fw-light">{{ tour.title }}</h5>
        <p class="card-text">{{ tour.description[0:100] }}{% if tour.description|length > 100 %}. . .{% endif %}</p>
        <p class="card-text fw-bold text-primary border-bottom border-3 border-primary">from {{ tour.min_price }}$ to {{ tour.max_price }}$</p>
        <button class="btn btn-primary w-100 fw-bold" hx-get="{{ url_for('tours_modal_retrieve', tour_id=tour.id) }}" data-bs-toggle="modal" data-bs-target="#tourModal" hx-target="#tourModalContent">Book</button>
      </div>
    </div>
  {% endfor %}

  <div class="modal fade" id="tourModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" id="tourModalContent">

      </div>
    </div>
  </div>

{% endblock %}